h1
{
    text-align: center;
    color: #ffffff;
}
p
{
    text-align: center;
    color: #ffffff;
}

div
{
    text-align: center;
}

body
{
   background-color: #141516; 
}

header
{
    background: #162135;
}

nav
{
    display: flex;
    justify-content: space-around;
    background-color: #101827;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}